**/__pycache__/
*.pyc

app/app_tiendas/__pycache__/routes.cpython-313.pyc
app/app_tiendas/__pycache__/routes.cpython-313.pyc
app/app_tiendas/__pycache__/routes.cpython-313.pyc
app/app_tiendas/__pycache__/routes.cpython-313.pyc
app/busqueda_marcas/__pycache__/routes.cpython-313.pyc
