

        .table-container {
            position: relative;
            max-height: 500px; /* Puedes ajustarlo si es necesario */
            overflow-y: auto;
          }
          .thead-fixed {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10; /* Asegúrate de que el z-index sea lo suficientemente alto */
          }  
          #inventoryTable tr {
            height: 50px; /* Ajusta este valor al tamaño deseado */
            border-bottom: 1px solid #ddd; /* Línea para separar filas */
          }
          #inventoryTable td, #inventoryTable th {
            padding: 10px; /* Ajusta el espacio interior */
            text-align: left;
            vertical-align: middle;
          }  
          /* Estilo para el texto de la tabla */
          table {
            font-size: 13px; /* Ajusta el tamaño de la fuente */
          }