.title{
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 2.5em; /* Ajusta el tamaño según necesites */
    font-weight: bold;
    background: linear-gradient(45deg, #8B0000, #1E3A8A); /* Rojo oscuro a azul oscuro */
    background-clip: text;
    -webkit-background-clip: text; /* Compatibilidad con navegadores WebKit */
    color: transparent;
    text-align: center; /* Alinear texto al centro */
  }
  label{
    font-weight: bold;
  }

  .loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden; /* Oculto por defecto */
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .loading-modal.active {
    visibility: visible; /* Mostrar modal */
    opacity: 1;
  }
  
  .loading-content {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo del spinner */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .loading-content p {
    font-size: 32px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra */
  }

    .title{
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 2.5em; /* Ajusta el tamaño según necesites */
    font-weight: bold;
    background: linear-gradient(45deg, #8B0000, #1E3A8A); /* Rojo oscuro a azul oscuro */
    background-clip: text;
    -webkit-background-clip: text; /* Compatibilidad con navegadores WebKit */
    color: transparent;
    text-align: center; /* Alinear texto al centro */
  }
  label{
    font-weight: bold;
  }
  .loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden; /* Oculto por defecto */
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .loading-modal.active {
    visibility: visible; /* Mostrar modal */
    opacity: 1;
  }
  
  .loading-content {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo del spinner */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .loading-content p {
    font-size: 32px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra */
  }
  button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #0d6efd;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
/* Estilos para el contenedor */
.button-container {
  display: flex;            /* Activa flexbox */
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 50px;            /* Asegura que el contenedor tenga la altura completa de la ventana */
}

#consultarBtn {
  padding: 10px 20px;       /* Estilos opcionales para el botón */
  font-size: 16px;          /* Tamaño de la fuente */
}