/* Reducción de márgenes y ajustes de espaciado */
  .card-body {
    padding: 1rem;
}
#bestDepartmentDetails h3, #worstDepartmentDetails h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
#bestDepartmentDetails p, #worstDepartmentDetails p {
    margin-bottom: 0.5rem;
}  

/* Estilos para los contenedores de departamentos */
.card {
  background: transparent; /* Fondo transparente para ver el efecto del gradiente */
  border: none; /* Elimina los bordes tradicionales */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación en hover */
}

/* Efecto de hover para darle un toque interactivo */
.card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

/* Estilo para los contenedores de los departamentos */
.card.bg-gradient-purple {
    background: linear-gradient(135deg, #1E3A8A, #D32F2F); /* Gradiente azul y rojo */
    color: white;
}

/* Títulos de departamentos fuera de los contenedores */
.department-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1E3A8A;
    text-align: center; /* Centrado de los títulos */
    margin-bottom: 10px; /* Espacio debajo de los títulos */
    text-align: center; /* Centra el texto dentro de cada título */
    flex: 1; /* Permite que cada título ocupe el mismo espacio */
    text-decoration: underline;
}

/* Estilo para los gráficos */
#salesChart {
  max-width: 1300px;
  max-height: 300px;
  width: 100%;
  height: auto;
}

/* Estilo del contenedor de "Tendencias de Ventas" */
.fw-bold {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #1E3A8A;
    margin-left: 20px;
}

/* Contenedor para los departamentos */
.departments-container {
    display: flex;
    gap: 50px; /* Espacio entre los elementos */
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Estilos para las secciones de cada departamento */
.department-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 45%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    color: white;
}

.velde{
    background-color: #006400;
}

.rojo{
    background-color: #8B0000;
}

/* Ajustes para los detalles de cada departamento */
.department-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
}

.department-card p {
    font-size: 1rem;
    color: #fff;
}

#bestDepartmentName, #worstDepartmentName{
    margin-top: 0;
}
@media (max-width: 360px) {
    .department-title {
      font-size: 1em; /* Oculta el contenedor */
    }
  }