{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_fechas.css') }}">


<br>
<!-- Modal de carga -->
<div id="loadingModal" class="loading-modal">
  <div class="loading-content">
    <div class="spinner"></div>
    <p >Cargando, por favor espere...</p>
    <p >Estamos buscando los resultados</p>
  </div>
</div>
<div class="container-fluid py-4">
  <h1 class="display-5 fw-bold title">Busqueda por Rango de Fechas</h1>
  <div id="dateSearchSection" class="container mt-6" style="display: block;">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5>Rango de Fecha Seleccionado: 
          <span id="selectedRange" style="font-weight: bold;">
            
          </span>
        </h5>
      </div>
      <div class="card-body">
        <form id="dateSearchForm" method="post">
          <div class="row">
            
            <div class="col-md-6 mb-3 text-center">
              <label for="startDate" class="form-label">Fecha de Inicio</label>
              <input type="date" class="form-control" id="startDate" name="startDate" 
                     value="{{ start_date }}">
            </div>
            <div class="col-md-6 mb-3 text-center">
              <label for="endDate" class="form-label">Fecha de Fin</label>
              <input type="date" class="form-control" id="endDate" name="endDate" 
                     value="{{ end_date }}">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" id="btn-formulario" onclick="updateSelectedDates()">BUSCAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row row-cols-1 row-cols-md-4 g-3 mb-4">
    <div class="col">
      <div class="card" style="background: linear-gradient(45deg, #8B0000, #1E3A8A); color: white; h-100;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas USD</h5>
            <button style="border: none; background: transparent; padding: 0; color: white;">
              <i class="fas fa-chart-line" style="font-size: 28px"></i>
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesUSD" style="font-size: 1.5em;">$  {{ "{:,.2f}".format(anterior_usd)}}  </h2>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card text-white h-100" style="background: #006400">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas Bs</h5>
            <button style="border: none; background: transparent; padding: 0;">
              <i class="far fa-address-card" style="color: white; font-size: 1.8em;"></i>
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesBS" style="font-size: 1.5em;">Bs.{{ "{:,.2f}".format(bolivares)}}</h2>
        </div>
      </div>
    </div>
  
    <!-- Nueva tarjeta Ventas Cashea -->
    <div class="col">
      <div class="card text-white h-100" style="background: #003366">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas Cashea</h5>
            <button style="border: none; background: transparent; padding: 0;">
              <img src="{{ url_for('static', filename='Css/Cashea.ico') }}" style="display: inline-block; width: 29px; height: 29px;">
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesCashea" style="font-size: 1.5em;">$ {{ "{:,.2f}".format(cashea)}}</h2>
        </div>
      </div>
    </div>
  
    <!-- Nueva tarjeta Ventas en $ por Efectivo -->
    <div class="col">
      <div class="card" style="background: #4B0082; color: white; h-100;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas USD - Efectivo</h5>
            <button style="border: none; background: transparent; padding: 0; color: white;">
              <i class="far fa-money-bill-alt" style="font-size: 28px"></i>
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesCash" style="font-size: 1.5em;">$ {{ "{:,.2f}".format(efectivo)}}</h2>
        </div>
      </div>
    </div>
  </div> 
  
    <!-- Formulario para ingresar fechas -->

    <!-- Botón para hacer la solicitud -->
    <div class="button-container">
      <button id="consultarBtn">Consultar Ventas de Tiendas</button>
      <button style="display: none;" id="consultarBtn2">Consultar Ventas de Tiendas</button>
    </div>

    
    <div class="col-lg-6" style="display: none;" id="grafico">
      <div class="card shadow-sm">
        <div class="card-header bg-white">
          <h5 class="card-title mb-0">Ventas por Tienda y Unidades Vendidas</h5>
        </div>
        <div class="card-body">
          <canvas id="storesChart" height="250"></canvas>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/Js/fechas.js">




{% endblock %}
