{% extends "base.html" %}
{% block content %}
<style>
  .title{
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 2.5em; /* Ajusta el tamaño según necesites */
    font-weight: bold;
    background: linear-gradient(45deg, #8B0000, #1E3A8A); /* Rojo oscuro a azul oscuro */
    background-clip: text;
    -webkit-background-clip: text; /* Compatibilidad con navegadores WebKit */
    color: transparent;
    text-align: center; /* Alinear texto al centro */
  }
  label{
    font-weight: bold;
  }
  .loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden; /* Oculto por defecto */
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .loading-modal.active {
    visibility: visible; /* Mostrar modal */
    opacity: 1;
  }
  
  .loading-content {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo del spinner */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .loading-content p {
    font-size: 32px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra */
  }
  button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #0d6efd;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
/* Estilos para el contenedor */
.button-container {
  display: flex;            /* Activa flexbox */
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 50px;            /* Asegura que el contenedor tenga la altura completa de la ventana */
}

#consultarBtn {
  padding: 10px 20px;       /* Estilos opcionales para el botón */
  font-size: 16px;          /* Tamaño de la fuente */
}

</style>
<br>
<!-- Modal de carga -->
<div id="loadingModal" class="loading-modal">
  <div class="loading-content">
    <div class="spinner"></div>
    <p >Cargando, por favor espere...</p>
    <p >Estamos buscando los resultados</p>
  </div>
</div>
<div class="container-fluid py-4">
  <h1 class="display-5 fw-bold title">Busqueda por Rango de Fechas</h1>
  <div id="dateSearchSection" class="container mt-6" style="display: block;">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5>Rango de Fecha Seleccionado: 
          <span id="selectedRange" style="font-weight: bold;">
            
          </span>
        </h5>
      </div>
      <div class="card-body">
        <form id="dateSearchForm" method="post">
          <div class="row">
            
            <div class="col-md-6 mb-3 text-center">
              <label for="startDate" class="form-label">Fecha de Inicio</label>
              <input type="date" class="form-control" id="startDate" name="startDate" 
                     value="{{ start_date }}">
            </div>
            <div class="col-md-6 mb-3 text-center">
              <label for="endDate" class="form-label">Fecha de Fin</label>
              <input type="date" class="form-control" id="endDate" name="endDate" 
                     value="{{ end_date }}">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" id="btn-formulario" onclick="updateSelectedDates()">BUSCAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row row-cols-1 row-cols-md-4 g-3 mb-4">
    <div class="col">
      <div class="card" style="background: linear-gradient(45deg, #8B0000, #1E3A8A); color: white; h-100;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas USD</h5>
            <button style="border: none; background: transparent; padding: 0; color: white;">
              <i class="fas fa-chart-line" style="font-size: 28px"></i>
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesUSD" style="font-size: 1.5em;">$  {{ "{:,.2f}".format(anterior_usd)}}  </h2>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card text-white h-100" style="background: #006400">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas Bs</h5>
            <button style="border: none; background: transparent; padding: 0;">
              <i class="far fa-address-card" style="color: white; font-size: 1.8em;"></i>
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesBS" style="font-size: 1.5em;">Bs.{{ "{:,.2f}".format(bolivares)}}</h2>
        </div>
      </div>
    </div>
  
    <!-- Nueva tarjeta Ventas Cashea -->
    <div class="col">
      <div class="card text-white h-100" style="background: #003366">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas Cashea</h5>
            <button style="border: none; background: transparent; padding: 0;">
              <img src="{{ url_for('static', filename='Css/Cashea.ico') }}" style="display: inline-block; width: 29px; height: 29px;">
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesCashea" style="font-size: 1.5em;">$ {{ "{:,.2f}".format(cashea)}}</h2>
        </div>
      </div>
    </div>
  
    <!-- Nueva tarjeta Ventas en $ por Efectivo -->
    <div class="col">
      <div class="card" style="background: #4B0082; color: white; h-100;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Ventas USD - Efectivo</h5>
            <button style="border: none; background: transparent; padding: 0; color: white;">
              <i class="far fa-money-bill-alt" style="font-size: 28px"></i>
            </button>
          </div>
          <h2 class="mt-3" id="totalSalesCash" style="font-size: 1.5em;">$ {{ "{:,.2f}".format(efectivo)}}</h2>
        </div>
      </div>
    </div>
  </div> 
  
    <!-- Formulario para ingresar fechas -->

    <!-- Botón para hacer la solicitud -->
    <div class="button-container">
      <button id="consultarBtn">Consultar Ventas de Tiendas</button>
      <button style="display: none;" id="consultarBtn2">Consultar Ventas de Tiendas</button>
    </div>

    
    <div class="col-lg-6" style="display: none;" id="grafico">
      <div class="card shadow-sm">
        <div class="card-header bg-white">
          <h5 class="card-title mb-0">Ventas por Tienda y Unidades Vendidas</h5>
        </div>
        <div class="card-body">
          <canvas id="storesChart" height="250"></canvas>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
  <script>
    const hoy = new Date();
    const anio = hoy.getFullYear();
    const mes = String(hoy.getMonth() + 1).padStart(2, '0');
    const dia = String(hoy.getDate()).padStart(2, '0');
    const fechaHoy = `${anio}-${mes}-${dia}`;
    
    // Asignar la fecha de hoy como el valor máximo
    document.getElementById("startDate").max = fechaHoy;
    document.getElementById("endDate").max = fechaHoy;
    // Función para formatear la fecha en formato DD-MM-YYYY
    function formatDate(date) {
      const [year, month, day] = date.split('-');
      return `${day}-${month}-${year}`;
    }

    // Función que actualiza el rango de fechas en el span
    function updateSelectedDates() {
      const startDate = document.getElementById('startDate').value;
      const endDate = document.getElementById('endDate').value;
      
      // Si ambas fechas están seleccionadas, las mostramos en el span
      if (startDate && endDate) {
        const selectedRange = document.getElementById('selectedRange');
        selectedRange.textContent = `${formatDate(startDate)} - ${formatDate(endDate)}`;
      }
    }

    // Aseguramos que el contenido del span se actualice cuando el usuario cambie las fechas
    document.getElementById('startDate').addEventListener('change', updateSelectedDates);
    document.getElementById('endDate').addEventListener('change', updateSelectedDates);

    // Si ya hay valores, actualizamos el span al cargar la página
    window.addEventListener('load', function() {
      updateSelectedDates();
    });


    function showLoadingModal() {
      const modal = document.getElementById("loadingModal");
      modal.classList.add("active");
    }
    
    // Función para ocultar el modal
    function hideLoadingModal() {
      const modal = document.getElementById("loadingModal");
      modal.classList.remove("active");

      
    }
    
    // Escucha el evento de envío de formularios
    document.addEventListener("submit", function (event) {
      const form = event.target;
      if (form.tagName === "FORM") {
        showLoadingModal(); // Mostrar el modal al enviar el formulario
      }
    });
    
    // Escucha el evento de carga completa de la página
    window.addEventListener("load", function () {
      
      hideLoadingModal(); // Ocultar el modal cuando se cargue la página
    });

  
    // URL del endpoint

  let storesChart; // Variable global para almacenar la instancia del gráfico

document.getElementById('consultarBtn').addEventListener('click', function() {
    const fechaIni = document.getElementById('startDate').value;
    const fechaFin = document.getElementById('endDate').value;

    if (!fechaIni || !fechaFin) {
        alert('Por favor, ingrese ambas fechas.');
        return;
    }

    // Lista de tiendas para consultar
    const tiendas = ['BABILON','BARALT','CABUDARE','CAGUA','CABIMAS','CATIA','CRUZ_VERDE','GUACARA',
    'GUANARE','KAPITANA','MATURIN','PROPATRIA','UPATA','VALENCIA','VALERA'] // Aquí agregas las tiendas que necesitas consultar

    // Resultados donde se almacenarán todas las respuestas
    let resultados = [];

    // Función para hacer la solicitud a la API
    const hacerSolicitud = (tienda) => {
        const url = `/fechas/usdxtiendas/${tienda}`;
        const requestData = { fecha_init: fechaIni, fecha_end: fechaFin };

      return fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(requestData)
    })
    .then(response => response.json())
    .then(data => {
      resultados.push({ tienda, data: data[0] }); // Guardar los datos de la tienda
      
      
      return data;
    })
    .catch(error => {
      console.error('Error:', error);
      resultados.push({ tienda, error: error.message });
    });
  };
  
  
    
  const showGrafico = document.getElementById("grafico");

  showGrafico.style.display = "block";
  showLoadingModal(); // Mostrar el modal al hacer clic

  // Hacer las peticiones para todas las tiendas
  Promise.all(tiendas.map(tienda => hacerSolicitud(tienda)))
    .then(() => {
      const validResults = resultados.filter(
        (item) => item.data && !item.error
      );

      if (validResults.length === 0) {
        console.error('No hay datos válidos para graficar');
        hideLoadingModal();
        return;
      }
      // Preparar los datos para el gráfico
      
      const combinedData = validResults.map((item) => ({
        label: item.tienda,
        totalUSD: item.data.total_usd || 0,
        total_transacciones:item.data.n_trasacciones || 0
      }));

      const sortedData = combinedData.sort((a, b) => b.totalUSD - a.totalUSD);


      const sortedLabels = sortedData.map((item) => item.label);
      const sortedTotalUSD = sortedData.map((item) => item.totalUSD)      
      const sortedTransaciones = sortedData.map((item) =>item.total_transacciones)

    const storesCanvas = document.getElementById("storesChart");
    const storesCtx = storesCanvas.getContext("2d");

    if (storesChart) {
        storesChart.destroy();
      }

    // Crear el gráfico
    storesChart = new Chart(storesCtx, {
      type: "bar",
      data: {
        labels: sortedLabels,
        datasets: [
        {
              label: 'Unidades Vendidas',
              backgroundColor: "rgba(99, 102, 241, 0.6)",
              data: sortedTransaciones,
              borderRadius: 4,
            },
       
          {
            label: "Ventas Totales $",
            borderColor: "#006400",
            backgroundColor: "#1E3A8A",
            data: sortedTotalUSD,
            borderRadius: 4,
            fill: true,
          },
        ],
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              stacked: true,
              ticks: {
                maxRotation: 45,
                minRotation: 20,
                font: {
                  size: function () {
                    // Obtener el ancho de la pantalla
                    const chartWidth = window.innerWidth; 
                    return chartWidth > 450 ? 12 : 7; // Ajustar a 10px si es mayor a 360px, sino 7px
                  },
                },
              },
            },
            y: {
              beginAtZero: true,
              stacked: true, // Apilar las barras en el eje Y
            },
          },
          plugins: {
            tooltip: {
              enabled: true,
              callbacks: {
                label: function (tooltipItem) {
                  return tooltipItem.dataset.label + ': ' + tooltipItem.raw.toLocaleString(); // Mostrar ventas en formato de moneda
                },
              },
            },
        },
      },
    });

    hideLoadingModal(); // Ocultar el modal cuando se haya completado la solicitud
  })
  .catch(error => {
    console.error("Error en alguna de las peticiones", error);
    hideLoadingModal(); // Asegúrate de ocultar el modal en caso de error

});

});


document.getElementById('btn-formulario').addEventListener('click', (event) => {
    const fechaIni = document.getElementById('startDate').value;
    const fechaFin = document.getElementById('endDate').value;

    // Definir la fecha límite (por ejemplo, 2024-01-01)
    const fechaLimite = new Date('2025-01-01');
    const fechaInicioSeleccionada = new Date(fechaIni);

    if (fechaInicioSeleccionada < fechaLimite) {
      showLoadingModal()
      $.ajax({
            type: 'POST',
            url: '/fechas/consultassp',
            contentType: 'application/json',
            data: JSON.stringify({fecha_ini:fechaIni,
                                  fecha_fin:fechaFin,
                }),
                success: function(response) {
                  const formatted_usd = new Intl.NumberFormat('en-US', { style: 'decimal', maximumFractionDigits: 2 }).format(response[0]['total_usd']);
                  const formatted_bs = new Intl.NumberFormat('en-US', { style: 'decimal', maximumFractionDigits: 2 }).format(response[0]['total_bs']);
                  const formatted_csh = new Intl.NumberFormat('en-US', { style: 'decimal', maximumFractionDigits: 2 }).format(response[0]['total_csh']);
                  const formatted_efe = new Intl.NumberFormat('en-US', { style: 'decimal', maximumFractionDigits: 2 }).format(response[0]['total_efec']);

                  console.log(response);
                  document.getElementById('totalSalesUSD').innerText = `$ ${formatted_usd}`
                  document.getElementById('totalSalesBS').innerText = `Bs ${formatted_bs}`
                  document.getElementById('totalSalesCashea').innerText = `$ ${formatted_csh}`
                  document.getElementById('totalSalesCash').innerText = `$ ${formatted_efe}`
                  hideLoadingModal();
                  
                }
              })
        event.preventDefault(); // Evita el envío del formulario si está dentro de un <form>
        return;
    }

    // Si pasa la validación, puedes continuar con el envío del formulario
    console.log("Formulario enviado con éxito.");
});


document.getElementById("startDate").addEventListener("change", actualizarBotones);
document.getElementById("endDate").addEventListener("change", actualizarBotones);

function actualizarBotones() {
    const fechaInicio = new Date(document.getElementById("startDate").value);
    const fechaFin = new Date(document.getElementById("endDate").value);
    
    const boton1 = document.getElementById("consultarBtn");
    const boton2 = document.getElementById("consultarBtn2");

    // Verifica si alguna fecha es válida y si es menor a 2025
    if ((fechaInicio && fechaInicio.getFullYear() < 2025) || (fechaFin && fechaFin.getFullYear() < 2025)) {
        boton1.style.display = "none";
        boton2.style.display = "block";
    } else {
        boton1.style.display = "block";
        boton2.style.display = "none";
    }
}



document.getElementById('consultarBtn2').addEventListener('click', function() {
    const fechaIni = document.getElementById('startDate').value;
    const fechaFin = document.getElementById('endDate').value;

    if (!fechaIni || !fechaFin) {
        alert('Por favor, ingrese ambas fechas.');
        return;
    }

    // Lista de tiendas para consultar
    const tiendas = ['BABILON','BARALT','CABIMAS','CABUDARE','CAGUA','CATIA','CRUZVERDE','GUACARA',
    'GUANARE','KAPITANA','MATURIN','PROPATRIA','UPATA','VALENCIA','VALERA'] // Aquí agregas las tiendas que necesitas consultar

    // Resultados donde se almacenarán todas las respuestas
    let resultados = [];

    // Función para hacer la solicitud a la API
    const hacerSolicitud = (tienda) => {
        const url = `/fechas/usdxtiendas2024/${tienda}`;
        const requestData = { fecha_init: fechaIni, fecha_end: fechaFin };

      return fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(requestData)
    })
    .then(response => response.json())
    .then(data => {
      resultados.push({ tienda, data: data[0] }); // Guardar los datos de la tienda
      
      
      return data;
    })
    .catch(error => {
      console.error('Error:', error);
      resultados.push({ tienda, error: error.message });
    });
  };
  
  
    
  const showGrafico = document.getElementById("grafico");

  showGrafico.style.display = "block";
  showLoadingModal(); // Mostrar el modal al hacer clic

  // Hacer las peticiones para todas las tiendas
  Promise.all(tiendas.map(tienda => hacerSolicitud(tienda)))
    .then(() => {
      const validResults = resultados.filter(
        (item) => item.data && !item.error
      );

      if (validResults.length === 0) {
        console.error('No hay datos válidos para graficar');
        hideLoadingModal();
        return;
      }
      // Preparar los datos para el gráfico
      
      const combinedData = validResults.map((item) => ({
        label: item.tienda,
        totalUSD: item.data.total_usd || 0,
        total_transacciones:item.data.n_trasacciones || 0
      }));

      const sortedData = combinedData.sort((a, b) => b.totalUSD - a.totalUSD);


      const sortedLabels = sortedData.map((item) => item.label);
      const sortedTotalUSD = sortedData.map((item) => item.totalUSD)      
      const sortedTransaciones = sortedData.map((item) =>item.total_transacciones)

    const storesCanvas = document.getElementById("storesChart");
    const storesCtx = storesCanvas.getContext("2d");

    if (storesChart) {
        storesChart.destroy();
      }

    // Crear el gráfico
    storesChart = new Chart(storesCtx, {
      type: "bar",
      data: {
        labels: sortedLabels,
        datasets: [

       
          {
            label: "Ventas Totales $",
            borderColor: "#006400",
            backgroundColor: "#1E3A8A",
            data: sortedTotalUSD,
            borderRadius: 4,
            fill: true,
          },
        ],
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              stacked: true,
              ticks: {
                maxRotation: 45,
                minRotation: 20,
                font: {
                  size: function () {
                    // Obtener el ancho de la pantalla
                    const chartWidth = window.innerWidth; 
                    return chartWidth > 450 ? 12 : 7; // Ajustar a 10px si es mayor a 360px, sino 7px
                  },
                },
              },
            },
            y: {
              beginAtZero: true,
              stacked: true, // Apilar las barras en el eje Y
            },
          },
          plugins: {
            tooltip: {
              enabled: true,
              callbacks: {
                label: function (tooltipItem) {
                  return tooltipItem.dataset.label + ': ' + tooltipItem.raw.toLocaleString(); // Mostrar ventas en formato de moneda
                },
              },
            },
        },
      },
    });

    hideLoadingModal(); // Ocultar el modal cuando se haya completado la solicitud
  })
  .catch(error => {
    console.error("Error en alguna de las peticiones", error);
    hideLoadingModal(); // Asegúrate de ocultar el modal en caso de error

});

});


</script>



{% endblock %}
