{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_resumen.css') }}">

</head>
<body>
  
  <body>
    <div class="container mt-2">
      <!-- Encabezado -->
      <div class="text-center border-bottom pb-1 mb-3">
        <h4>Resumen de Ventas 2024</h4>
      </div>
  
      <!-- Contenido principal en vista móvil -->
      <div class="row">
        <!-- Columna Tiendas -->
        <div class="col-12 mb-3" style="display: flex;justify-content: center;flex-direction: column;align-content: center;flex-wrap: wrap;">
          <h3 class="text-center">Tiendas</h3>
          <select
            name="tiendas"
            id="tiendaSelect"
            class="form-select"
           >
            <option value="" disabled selected>Selecciona Tienda</option>
            <option value="All">Todas las tiendas</option>
            <option value="tioi">Tiendas Tio I</option>
            <option value="tioii">Tiendas Tio II</option>
            <option value="tioiv">Tiendas Tio IV</option>
            <option value="Babilon">Babilon</option>
            <option value="Baralt">Baralt</option>
            <option value="Cabimas">Cabimas</option>
            <option value="Cagua">Cagua</option>
            <option value="Catia">Catia</option>
            <option value="Cruz verde">Cruz verde</option>
            <option value="Guacara">Guacara</option>
            <option value="Guanare">Guanare</option>
            <option value="Kapitana">Kapitana</option>
            <option value="Maturin">Maturin</option>
            <option value="Propatria">Propatria</option>
            <option value="Upata">Upata</option>
            <option value="Valencia">Valencia</option>
            <option value="Valera">Valera</option>
            <option value="Cabudare">Cabudare</option>
            

          </select>
        </div>
  
        <!-- Contenedor de las Cards -->
        <div class="col-12">
          <div class="cards ">
            <div class="card red">
              <p class="tip">Total USD</p>
              <p class="second-text" >${{ "{:,.2f}".format(data) }}</p>
            </div>
            <div class="card blue">
              <p class="tip">Total BS</p>
              <p class="second-text" >BS 150,037,831.03</p>
            </div>
            <div class="card bg-warning">
              <p class="tip">Total Cashea</p>
              <p class="second-text" >$2,920,099.41</p>
            </div>
            <div class="card green">
              <p class="tip">Total Efectivo</p>
              <p class="second-text" >USD 10,270,091.68</p>
            </div>
          </div>
        </div>
  
        <!-- Contenedor del Gráfico -->
        <div class=" d-flex justify-content-center w-100 mt-4">
          <div class="card shadow-sm">
            <div class="card-header bg-white">
              <h5 class="card-title mb-0 text-center">Ventas por Tienda<span id="sumaTotal" class="text-muted"></span></h5>
            </div>
            <div class="card-body">
              <canvas id="storesChart" height="350" style="width: 100%;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
   

</body>
</html>

{% endblock %}