{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/tendencias.css') }}" />

<div class="container-fluid py-4">
  <!-- Título principal "Tendencias de Ventas" -->
  <div class="row d-flex align-items-center">
    <div class="col-md-5 mb-2">
      <h2 class="fw-bold">Tendencias de Ventas</h2>
    </div>
    <form action="" method="post" class="col-md-7 mb-3 d-flex justify-content-end">
      <div class="d-flex flex-column flex-md-row align-items-md-center">
        <div class="mb-2">
          <label for="startDate" class="form-label">Filtrar por fechas:&nbsp;&nbsp;</label>
        </div>
        <div class="d-flex flex-column flex-md-row gap-2">
          <input type="date" class="form-control" id="startDate" name="startDate" value="{{ start_date }}">
          <input type="date" class="form-control" id="endDate" name="endDate" value="{{ end_date }}">
          <button class="btn btn-primary">Buscar</button>
        </div>
      </div>
    </form>
  </div> 

    <div class="departments-container">
      <!-- Título de los departamentos -->
      <div class="department-title">Departamento Más Vendido:</div>
      <div class="department-title">Departamento Menos Vendido:</div>
    </div>

  <!-- Contenedor de las tarjetas de departamentos -->
  <div class="departments-container">
    <!-- Departamento Más Vendido -->
    <div class="department-card velde">
      <div id="bestDepartmentDetails">
        <h2 id="bestDepartmentName"></h2>
        <p><strong>Ventas Totales en USD: </strong></p>
        <p><strong>Unidades Vendidas: </strong></p>

      </div>
    </div>
    
    <!-- Departamento Menos Vendido -->
    <div class="department-card rojo">
      <div id="worstDepartmentDetails">
        <h2 id="worstDepartmentName"></h2>
        <p><strong>Ventas Totales en USD: </strong></p>
        <p><strong>Unidades Vendidas: </strong></p>
      </div>
    </div>
  </div>

  <!-- Sección del gráfico -->
  <div class="row g-4 mb-4" style="justify-content: center;">
    <div class="col-md-10">
      <canvas id="salesChart"></canvas>
    </div>
  </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</script>


{% endblock %}